services:
  quiz:
    container_name: quiz_django
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    command: uv run python manage.py runserver 0.0.0.0:8000
    env_file:
      - .env
    environment:
      - DEBUG=1
    ports:
      - "0.0.0.0:8000:8000"
    volumes:
      - .:/app
    depends_on:
      - postgres
  postgres:
    container_name: quiz_postgres
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "0.0.0.0:5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
